
.img{
    height: 160px; width: 720px;
  }
.bg{
  width: 100%;
}
.topnav{
  padding: 50px;
}
.tag{
  float: right;
  font-size: 75px;
  margin-right: 100px;
  text-decoration: none;
}
.icon{
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .img{
    height: 80px; width: 360px;
  }

  .bg{
    height: 1250px;
  }

}
